ul.ul{
  list-style-type: none;
}

li.li{
  background-color: #fff;
  font-family: 'arial';
  border: 1px solid blue;
  padding: 10px;
  cursor: pointer;
  color: #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 200px;
}

li.li:hover{
  background-color: green;
}

li.li.red{
  color: red;
}